.piltover_info{
    display: flex;
    gap: 5px;
    color: #DECEB2;
    padding: 30px;
    justify-content: space-around;
    margin: 0 0 100px 100px;
}

.piltover_info_letter{
    font-size: 36px;
    color: #cfbb8f;
}

.piltover_info p, .piltover_video  p{
    width: 700px;
    font-size: 20px;
    text-align: center;
}

.piltover_gallery{
    display: flex;
    gap: 30px;
    padding: 30px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.piltover_video{
    padding: 30px;
    text-align: center;
    color: #DECEB2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.piltover_video iframe{
    height: 300px;
    width: 30%;
}