.button_header{
    font-family: "Poppins", sans-serif;
    height: 35%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-size: 24px;
    padding-bottom: 40px;
}

.active{
    font-size: 28px;
    border-bottom: 3px #edd4c8 solid;
    transition: all 0.3s;
}

.button_header:hover, .button.footer:hover{
    color: #edddd8;
}

.button_footer{
    padding-bottom: 0;
    font-size: 16px;
    background-color: #222222;
    border: none;
    color: white;
}

.button_footer:hover{
    cursor: pointer;
    color: #b6b6b6;
    transition: all 0.3s;
}

.button_city{
    font-size: 44px;
    background: none;
    border: none;
    color: #cfbb8f;
    cursor: pointer;
}

.button_city_active{
    font-size: 54px;
    cursor: pointer;
    color: #B99759;
    transition: all 0.3s;
}