.button{
    font-family: "DM Mono", sans-serif;
    height: 35%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
}

.active{
    font-size: 24px;
    border-bottom: 2px #edd4c8 solid;
    transition: all 0.3s;
}

.button:hover{
    color: #edddd8;
}



