.button_header{
    font-family: "Poppins", sans-serif;
    height: 35%;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    font-size: 24px;
    padding-bottom: 40px;
}

.active{

    font-size: 28px;
    border-bottom: 3px #edd4c8 solid;
    transition: all 0.3s;
}

.button_header:hover, .button.footer:hover{
    color: #edddd8;
}

.button_footer{
    padding-bottom: 0;
    font-size: 16px;
    background-color: #222222;
    border: none;
    color: white;
}

.button_footer:hover{
    cursor: pointer;
    color: #b6b6b6;
    transition: all 0.3s;
}

.button_city{
    font-size: 44px;
    background: none;
    border: none;
    color: #8cbcdd;
    cursor: pointer;
}

.button_city_active{
    font-size: 54px;
    cursor: pointer;
    color: #41aaea;
    transition: all 0.3s;
}

.button_card{
    background: #222222;
    border: none;
    padding: 30px;
    height: 100px;
    cursor: pointer;
    opacity: 0.5;
    color: white;
}

.button_card_active{
    /*background: #222222;*/
    background-image: url("../../images/backJinx.jpg");
    border: none;
    padding: 30px;
    height: 100px;
    opacity: 1;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}

.button_img_card{
    padding: 10px;
    background-color: #222222;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 30px;
    color: white;
}

.button_img_card_active{
    padding: 10px;
    background-color: #41aaea;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 40px;
    transition: all 0.3s;
}

.button_video_card{
    padding: 10px;
    background-color: #222222;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 30px;
    color: white;
}

.button_video_card_active{
    padding: 10px;
    background-color: #41aaea;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    width: 40px;
    transition: all 0.3s;
}