/** {outline: 2px solid green !important;}*/

.city{
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    background-size: cover;
    padding: 60px;
    margin: 0 100px;
    height: 250px;
}

.city_active{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: static;
    align-items: center;
}

.city_active img{
    width: 110px;
    height: 130px;
}