.footer{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    align-items: center;
    color: white;
    background-color: #222222;
}

.footer_logo a{
    color: white;
    font-size: 30px;
}

.footer_logo p{
    margin-top: -5px;
    text-align: center;
}

.footer_nav{
    display: flex;
    gap: 50px;
}

.footer_nav_block{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.footer_contact{
    display: flex;
    gap: 10px;
}
