*{
    color: white;
}

.main{
    display: flex;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.info{
    width: 30%;
    margin-right: 100px;
}

.info h2{
    color: #41aaea;
    font-size: 90px;
}

.img{
    text-align: center;
    width: 25%;
}