*{
    color: white;
}

.main{
    display: flex;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.info{
    display: flex;
    width: 70%;
    margin-right: 5%;
    justify-content: space-between;
    gap: 50px;
}

.info h2{
    color: #41aaea;
    font-size: 90px;
}

.info_img{
    object-fit: cover;
    text-align: center;
}

.info_description{
    background-color: #222222;
    padding: 30px;
}