.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 30%;
}

h4{
    margin: 0;
}

.cards p{
    font-size: 20px;
    max-width: 85%;
    text-align: center;
}

.actors-name{
    color: #f16cc7;
    font-size: 24px;
}

.actors-character{
    color: #f16cc7;
}

.actors-img{
    width: 50%;
    height: 50%;
    border-radius: 5px;
}
